$color-black: #000 !default;
$color-gray: #939393 !default;
$color-red: #D32F2F !default;
$color-green: #3bcf76;
$color-orange: #F6A623 !default;
$color-yellow: #FFD600 !default;
$color-white: #fff !default;
$color-almost-white: #FAFAFA !default;
$color-cornflower-blue: #2275D7 !default;
$color-asphalt-gray: #525252 !default;