// Colors
$primary: #264ca3;
$success: #3bcf76;
// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-regular: "Avenir", $font-family-sans-serif;
$font-bold: "Avenir-Bold", $font-family-sans-serif;